// Pages

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90vh;

    .left-col,
    .right-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      aspect-ratio: 1/2;
      height: 100%;
    }
  }
}
