// Pages

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90vh;

    .left-col,
    .right-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      aspect-ratio: 1/2;
      height: 100%;

      .sub-title {
        width: 100%;
        opacity: 0.8;

        &:not(:first-child) {
          margin-top: 15px;
        }
      }

      .value {
        font-size: 1.2rem;
        margin-top: 10px;
        width: 100%;
      }

      .credits {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          transition: all 0.2s ease-in-out;

          svg {
            font-size: 1.5rem;
            color: unset;

            path {
              color: unset;
            }
          }

          &:hover {
            color: #8b3cad;
          }
        }
      }
    }
  }
}
