// Pages

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 90vh;

    .left-col,
    .right-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      aspect-ratio: 1/2;
      height: 100%;

      .sub-title {
        width: 100%;
        opacity: 0.8;

        &:not(:first-child) {
          margin-top: 15px;
        }
      }

      .value {
        font-size: 1.2rem;
        margin-top: 10px;
        width: 100%;
      }

      .credits {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          transition: all 0.2s ease-in-out;

          svg {
            font-size: 1.5rem;
            color: unset;

            path {
              color: unset;
            }
          }

          &:hover {
            color: #8b3cad;
          }
        }
      }

      .key {
        width: 30px;
        height: 30px;
        padding: 5px;
        border: 2px solid #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-family: sans-serif;
        font-weight: bold;
      }

      .command {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;

        .key {
          width: 30px;
          height: 30px;
          padding: 5px;
          border: 2px solid #fff;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          font-family: sans-serif;
          font-weight: bold;
        }

        .space-bar {
          /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
          @extend .key;

          width: 80px;
        }

        &:not(:first-child) {
          margin-top: 15px;
        }
      }

      .options {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;

        .key {
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            font-size: 17px;
          }
        }
      }
    }
  }
}
